body {
    background-color: rgb(28, 25, 25);
    width: auto;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal {
    width: 40rem;
    height: 45rem;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}


.beleza {
    display: flex;
    width: 85%;
    height: 0.1%;
    background-color: #EEEEEE;
}

.apresentacao {
    margin-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
    color: #EEEEEE;
    font-size: 2.24rem;
    padding: 5%;
}

.interativo {
    width: 32.5rem;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.botoes {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao {
    background-color: rgb(28, 25, 25);
    border-radius: 5px;
    border: none;
    color: white;
    width: 40%;
    height: 2.5rem;
    text-align: center;
    font-size: 1.15rem;
    transition: 0.3s;
}

#voltar:hover {
    background-color: #f1f1f1;
    color: red;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

#geralPresente:hover {
    background-color: rgba(22, 255, 18, 0.74);
    color: #000000;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.alunosInterface {
    width: 32rem;
    height: 25rem;
    background-color: rgba(255, 0, 0, 0.5);
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.alunosLegenda {
    width: 32rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #EEEEEE;
    background-color: rgb(155, 41, 41);
}

.alunoIndiv {
    width: 100%;
    height: 95px;
    background-color: rgba(17, 17, 19, 0.473);
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.alunoHUD{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    color: #EEEEEE;
    justify-content: center;
}

.alunoName {
    width: 80%;
    height: 100%;
    background-color: rgba(10, 9, 9, 0.8);
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.alunoObs {
    height: 100%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alunoObs button {
    border: none;
    border-radius: 5px;
    width: 18px;
    height: 18px;
}

.alunoComentario{
    width: 100%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.50);
}

.alunoComentario input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 5%;
    background: none;
    color: #EEEEEE;
}

.listaAlunos{
    list-style: none;
    padding: 0;
}